    .title-wrapper
    {
        margin-top: 5rem;
    }

    .projects-wrapper
    {
        margin-top: 5rem;
        padding-left: 4rem;
    }

    .socials-wrapper
    {
        margin-top: 5rem;
        padding-left: 4rem;
    }
