.project-wrapper
{
    font-family:"DejaVu Sans Mono", monospace;

    .project-name
    {
        display: inline;
        color: rgb(0, 205, 205);
    }

    .project-item
    {
        display: inline;
        color: rgb(0, 205, 205);
    }

    .project-path
    {
        display: inline;
        color: rgb(0, 205, 205);
    }

}
.project-indent
{
    display: inline;
    color: rgb(0, 205, 205);
}
