.project-wrapper
{
    font-family:"DejaVu Sans Mono", monospace;
    font-size: 1.2rem;
    color: rgb(0, 205, 205);

    .project-name-wrapper
    {
        display: inline;
        padding: .4rem 0;
        cursor: pointer;

        .project-name
        {
          display: inline;
        }
    }

    .project-item
    {
        display: inline;
    }

    .project-path
    {
        display: inline;
    }

    .project-indent
    {
      display: inline;
    }
}
